AVTOJP_API_URL=http://87.242.72.57/gzip/
AVTOJP_API_IP=8.1.1.1
AVTOJP_API_CODE=replace-with-provider-code
APP_MAIL_LEAD_TO=olimpautovl125@gmail.com,olimpauvtovl125@outlook.com
AVTOJP_TIMEOUT=20s
AVTOJP_DICTIONARY_CACHE_TTL=30m
AVTOJP_LOT_CACHE_TTL=10m
AVTOJP_CAPTCHA_THRESHOLD=50
AVTOJP_CAPTCHA_TTL=5m
AVTOJP_REQUEST_THRESHOLD=40
AVTOJP_REQUEST_WINDOW=1m
